.about {
    // max-width: 325px;
    margin-bottom: 65px;
    margin: 0 auto;


    @media only screen and (min-width: $bp-tablet) {
        display: flex;
        margin: 0;
    }

    &__left-content {}

    &__profile {
        border-bottom: 2px solid #e6e3e3;
        padding-bottom: 2rem;
        width: 100%;
        height: auto;

        @media only screen and (min-width: $bp-tablet) {
            border: 0;
            width: 280px;

        }

        @media only screen and (min-width: $bp-desktop) {
            width: 540px;

        }
    }

    &__right-content {
        @media only screen and (min-width: $bp-tablet) {
            margin-left: 69px;
            border-top: 2px solid #e6e3e3;
            padding-bottom: 2rem;
            border-bottom: 2px solid #e6e3e3;
            margin-bottom: 40px;
        }

        @media only screen and (min-width: $bp-desktop) {
            margin-left: 125px;

        }

    }

    &__heading {
        margin: 0.67em 0;
        @media only screen and (min-width: $bp-tablet) {
            margin-top: 51px;
        }

    }

    &__description {
        color: $color-grayish-dark-blue;
        margin-bottom: 24px;
        opacity: 0.8;
        line-height: 30px;

        @media only screen and (min-width: $bp-tablet) {
            width: 340px;

        }

        @media only screen and (min-width: $bp-desktop) {
            width: 350px;

        }

    }




}

button.about:nth-child(3) {
    width: 202px;

    @media only screen and (min-width: $bp-tablet) {
        width: 180px;
    }

    &:hover {

        @media only screen and (min-width: $bp-desktop) {
            background-color: $color-grayish-dark-blue;
            color: $color-very-light-grey;
        }

    }
}


   



// section.about {
//     @media only screen and (min-width: $bp-tablet) {
//         display: flex;
//     }
// }