.about {
    max-width: 325px;
    margin-bottom: 65px;
    margin: 0 auto;

    &__left-content {}

    &__profile {
        border-bottom: 2px solid #e6e3e3;
        padding-bottom: 2rem;
    }

    &__right-content {
        //    border-bottom: 2px solid #e6e3e3;
        //     padding-bottom: 3.5rem;
    }

    &__heading {}

    &__description {
        color: $color-grayish-dark-blue;
        margin-bottom: 24px;
        opacity: 0.8;

    }

    
    

}