$color-cyan: #5FB4A2;
$color-dark-blue: #203A4C;
$color-grayish-dark-blue: #33323D;
$color-very-light-grey: #FAFAFA; //BG
$color-light-grey: #EAEAEB; // text-field
$color-red: #F43030; //errors

$font-primary: 'Ibarra Real Nova',
serif,
sans-serif;
$font-secondary: 'Public Sans',
sans-serif;

// $bp-tablet: 45.3125em;
$bp-tablet : 37.5em; //600
$bp-desktop : 62.5em; //1000



*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html {

    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;


}

body {
    font-family: $font-secondary;
    font-size: 16px;
    line-height: 26px;
    margin: 0 auto;
    overflow-x: hidden;
    background-color: $color-very-light-grey;


}

.master-container {
    max-width: 1140px;
    margin: 0 auto;
}


main {
    // max-width: 1920px;
    padding: 0 1.8rem;


}

h1,
h2 {
    font-family: $font-primary;
    color: $color-grayish-dark-blue;
    font-size: 40px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.3571428656578064px;
    // margin: 0.67em 0;

}

.btn-cta {
    text-transform: uppercase;
    color: $color-grayish-dark-blue;
    background-color: #fff;
    border: 1px solid $color-grayish-dark-blue;
    padding: 1.2rem;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 2px;
    text-align: left;
    cursor: pointer;

    &:hover {

        @media only screen and (min-width: $bp-desktop) {
            background-color: $color-grayish-dark-blue;
            color: $color-very-light-grey;
        }

    }
}


