.btn-primary {
    width: 200px;
    height: 48px;
    background-color: $color-dark-blue;
    border: 0;
    text-transform: uppercase;
    color: #FFF;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;
    position: relative;
    padding-left: 1.5rem;

    &:hover {
        @media only screen and (min-width: $bp-desktop) {
            background-color: $color-cyan;
           }
    }


    &:before {
        content: "";
        width: 48px;
        height: 48px;
        background-image: url(../images/icons/down-arrows.svg);
        background-color: hsl(207, 39%, 20%);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 20px 20px;
        position: absolute;
        top: 0;
        left: 0;




    }


}

.btn-primary:hover:before {
    @media only screen and (min-width: $bp-desktop) {
        background-color: #52ad9a;
       }
    

}

.btn-cta {
    width: 162px;
    text-align: center;
    
}

.nav-primary__list-link.cyan {
    color: $color-cyan;
}

.btn-secondary {
     
        width: 202px;
        text-transform: uppercase;
        color: #33323D;
        background-color: #fff;
        border: 1px solid #33323D;
        padding: 1.2rem;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 2px;
        cursor: pointer;
      
    
        @media only screen and (min-width: $bp-tablet) {
            width: 180px;
        }
    
        &:hover {
    
            @media only screen and (min-width: $bp-desktop) {
                background-color: $color-grayish-dark-blue;
                color: $color-very-light-grey;
            }
    
        }
    
}

.description-text {
    color: #33323D;
    opacity: 0.8;
    line-height: 30px;
}