.footer {
    height: 354px;
    background-color: $color-grayish-dark-blue;

    @media only screen and (min-width: $bp-tablet) {
        display: flex;
        flex-direction: row;
        height: auto;
        justify-content: space-between;
        padding: 1.5rem;

    }

    &__right-content {}

    &__left-content {
        text-align: center;
        padding-top: 56px;

        @media only screen and (min-width: $bp-tablet) {
            display: flex;
            padding: 0;

        }
    }

    &__nav {

        width: 104px;
        height: auto;
        margin: 0 auto;
        padding-top: 40px;

        @media only screen and (min-width: $bp-tablet) {
            width: auto;
            padding-top: 0;
            align-self: center;
            margin-left: 2rem;

        }
    }

    &__nav-list {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        font-family: $font-secondary;
        text-decoration: none;
        list-style: none;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;

        @media only screen and (min-width: $bp-tablet) {
            flex-direction: row;

        }
    }

    &__nav-item {}

    &__nav-link {
        color: #fff;
        font-family: inherit;
        text-decoration: none;
    }

    &__icon {}

    &__social-container {

        display: flex;
        gap: 1rem;
        justify-content: center;
        margin-top: 40px;

        @media only screen and (min-width: $bp-tablet) {
            margin: 0;

        }

    }

    &__logo {
        width: 61px;
        height: 32px;
    }
}