// NAVIGATION
.navigation-top {
    // border: 2px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;

    &__logo {
        //    width: 60px;
        //    height: 32px; 


    }
}

.nav-primary {
    border: 2px solid teal;
    display: none;
}


//Navigation menu

.hamburger-menu {
    background-color: transparent;
    background-image: url(../images/icons/hamburger.svg);
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    width: 24px;
    height: 13px;
    background-position: center center;
    // z-index: 21;
    align-self: center;
}

@media only screen and (min-width: 37.5em) {
    .hamburger-menu {
        display: none;
    }
}

.hamburger-menu.active {
    background-image: url(../images/icons/close.svg);
}


//HEADER
.header {

    margin-bottom: 96px;
    

    &__top {
        
       
    }

    &__hero-img {
        background-image: url(../images/homepage/mobile/image-homepage-hero@2x.jpg);
        height: 277px;
        background-size: cover;
        max-width: 441px;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__bottom {
        // margin-left: 1.3rem;
    }

    // &__introduction-box {}

    // // &__heading {
    // //     font-family: $font-primary;
    // //     color: $color-grayish-dark-blue;
    // //     font-size: 40px;
    // //     font-weight: 700;
    // //     line-height: 42px;
    // //     letter-spacing: -0.3571428656578064px;


    // // }

    // &__btn-about-me {}
}