.nav-container {
    display: none;
    position: absolute;
    right: 1.9rem;
    top: 6rem;
    width: 223px;
    height: 186px;
    background-color: $color-grayish-dark-blue;

    @media only screen and (min-width: $bp-tablet) {
        display: block;
        position: static;
        z-index: 1000;
        height: auto;
        width: auto;
        background-color: transparent;
        align-self: center;

    }

}

.nav-container.show {
    display: block;
}

.navigation-top {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;

    @media only screen and (min-width: $bp-tablet) {
        padding: 47px 2rem;
    }

    &__logo {
        @media only screen and (min-width: $bp-desktop) {
            cursor: pointer;

            &:hover {
                filter: invert(60%) sepia(58%) saturate(286%) hue-rotate(117deg) brightness(96%) contrast(87%);
            }


        }
    }

}

.nav-primary {

    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: $font-secondary;
    text-decoration: none;
    list-style: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 20%;

    @media only screen and (min-width: $bp-tablet) {
        flex-direction: row;
        margin-top: 0rem;
    }

    &__list-item {}

    &__list-link {
        color: #fff;
        font-family: inherit;
        text-decoration: none;

        @media only screen and (min-width: $bp-tablet) {
            color: $color-grayish-dark-blue;
        }

        &:hover {
            @media only screen and (min-width: $bp-desktop) {
                color: $color-cyan;
            }
        }
    }

}


//Navigation menu

.hamburger-menu {
    background-color: transparent;
    background-image: url(../images/icons/hamburger.svg);
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    width: 24px;
    height: 13px;
    background-position: center center;
    // z-index: 21;
    align-self: center;
}

@media only screen and (min-width: 37.5em) {
    .hamburger-menu {
        display: none;
    }
}

.hamburger-menu.active {
    background-image: url(../images/icons/close.svg);
}


//HEADER
.header {
    

    @media only screen and (min-width: $bp-tablet) {
        position: relative;

    }

    margin-bottom: 96px;
    padding: 0 1.8rem;

    // &__top {


    // }

    &__introduction-box {
        @media only screen and (min-width: $bp-desktop) {
            margin-top: 3rem;
        }
    }

    &__hero-img {
        background-image: url(../images/homepage/mobile/image-homepage-hero@2x.jpg);
        height: 277px;
        background-size: cover;
        max-width: 441px;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-position: center;

        @media only screen and (min-width: $bp-tablet) {
            background-image: url(../images/homepage/tablet/image-homepage-hero@2x.jpg);
            height: 560px;
            max-width: 100%;
        }

        @media only screen and (min-width: $bp-desktop) {
            background-image: url(../images/homepage/desktop/image-homepage-hero@2x.jpg);


        }
    }

    &__bottom {
        background-color: #fafafa;
        @media only screen and (min-width: $bp-tablet) {
            position: absolute;
            bottom: 0;
            max-width: 515px;
            padding: 1rem 2rem 1rem 0;

        }

        @media only screen and (min-width: $bp-desktop) {
            max-width: 417px;
            height: 340px;

        }
    }


}